#Hidden files
*.DS_Store
.DS_Store

# OpenSSL
OpenSSL/*
!OpenSSL/.gitkeep

# Pod
Pods/
*.xcworkspace
*.xcuserstate
*.xcconfig
*.xcbkptlist
xcuserdata/

#Demo-App
demo-app/TestDemoApp/Info.plist
demo-app/TestDemoApp/ServerURLs.swift

